h1{
  text-align: center;
}

p{
  text-align: center;
  font-weight: bolder;
}

body{
  background-color: yellow;
}

footer{
  border: 5px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  font-weight: 500;
  background-color: #E89C01;
  border-radius: 10px;
}


